body {
	font: 10pt Palatino; /* -Baskerville- (J tronqué en début de ligne), Cochin, -Hoefler Text- (NBSP trop larges), Palatino, STIXGeneral */
	line-height: 1.5;
	margin: auto;
	text-align: justify;
	width: 16cm;
	-webkit-print-color-adjust: exact;
}



h1,h2,h3,h4,h5,h6 {
	/* break-after: avoid; */
	font-family: Avenir Next;
	font-weight: 600;
	text-align: left;
}
h1 {
	margin: 1.5em 0;
	string-set: chapter content(text);
}
h2 { string-set: section content(text) }



p {
	text-indent: 1.5em;
	margin: 0 0 1em 0;
	orphans: 3; /* minimum number of lines left at the bottom of the old page on page break */
	widows: 3; /* minimum number of lines left at the top of the new page on page break */
}



a {
	color: blue;
	text-decoration: none;
}



figure {
	break-inside: avoid;
	margin: 0 auto 1.7em auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}
figcaption {
	flex: 0 0 100%;
	font-weight: 600;
	margin: .6em 0 0 0;
	text-align: center;
}



ul {
	break-inside: avoid;
	margin: -.5em 0 1em 0;
	-webkit-padding-start: 2.1em;
}



table {
	border-collapse: collapse;
	border-top: 1.5pt solid black;
	border-bottom: 1.5pt solid black;
	break-inside: avoid;
	caption-side: bottom;
	font-size: smaller;
	line-height: 1.3;
	margin: 0 auto 1.7em auto;
	text-align: center;
}
tr {
	break-inside: avoid;
}
tr :nth-child(1) {
	text-align: left
}
th,td {
	padding: .2em .3em;
	vertical-align: top;
}
caption {
	font-size: small;
	font-weight: 600;
	margin: .6em 0 0 0;
}



dl {
	break-inside: avoid;
	margin: 0 0 1em 0;
}
dt {
	font-weight: bold;
}



/* classes */
.bgR {background-color: tomato}
.bgG {background-color: lightgreen}
.bgY {background-color: gold}
.striped tr:nth-child(2n) {background-color:ghostwhite}



/* styles temporaires */
.break { break-before: always }
.break-right { break-before: right }
sh { display: block; margin: 1em 0 0 0; color: magenta }
sh:before { content: '[SH] ' }
notesh { display: inline; color: magenta }
notesh:before { content: '[SH] ' }
traf { display: block; margin: 1em 0 0 0; color: limegreen }
traf:before { content: '[TR] ' }
sc { font-variant: small-caps }
ins { text-decoration: none; color: cornflowerblue }
del { text-decoration: line-through }
